Options +Indexes

# Combine all options into one single directive
IndexOptions IgnoreCase FancyIndexing HTMLTable SuppressIcon SuppressRules SuppressHTMLPreamble FoldersFirst VersionSort NameWidth=* DescriptionWidth=* Charset=UTF-8

# Point to your header file
HeaderName /assets/header.html

# Hide config, styling, icons, and temporary vim files from the public view
IndexIgnore .htaccess assets icons

# Descriptions
AddDescription "Imposter mobile game for android." Imposter.apk
